[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/in3d/thirdparty/pyimgui"]
	path = thirdparty/in3d/thirdparty/pyimgui
	url = https://github.com/pyimgui/pyimgui.git
[submodule "thirdparty/splatt3r"]
	path = thirdparty/splatt3r
	url = git@github.com:curdinst/splatt3r.git
[submodule "thirdparty/diff-gaussian-rasterization-w-pose"]
	path = diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
[submodule "thirdparty/simple-knn"]
	path = thirdparty/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
